html
  head
    block title
      title Presidential Wild Card
    link(rel="stylesheet", href="/css/app.css")
    block head
  body
    block header
      header
        h1 Alternative Primary
    block content
    block footer
      footer
        div.wrapper-small.footer-content.grid.grid--medium
          div
            h4 About
            ul
              li #[a(href="/") Home]
              li #[a(href="/") Security]
              li #[a(href="/") Privacy]
              li #[a(href="/") Transparency]
          div
            h4 Voter Tools
            ul
              li #[a(href="/") Vote]
              li #[a(href="/") Results]
          div
            h4 Legal
            ul
              li #[a(href="/") Terms of Use]
              li #[a(href="/") Privacy Policy]
    block scripts
      script(type="text/javascript", src="/js/app.js")
