html
  head
    block title
      title Presidential Wild Card
    link(rel="stylesheet", href="/css/app.css")
    block head
  body
    block header
      header
        h1 The Alternative Primary
    block content
    block scripts
      script(type="text/javascript", src="/js/app.js")
