html
  head
    block title
      title Presidential Wild Card
    link(rel="stylesheet", href="/css/app.css")
    block head
  body
    block header
      header
        h1 Alternative Primary
    block content
    block footer
      footer
        div.wrapper-small.footer-content
          span Hiiii
    block scripts
      script(type="text/javascript", src="/js/app.js")
