html
  head
    block title
      title Presidential Wild Card
    link(rel="stylesheet", href="/css/app.css")
    block head
  body
    block header
      header
        h1
          a(href="/") Alternative Primary
    block content
    block footer
      footer
        div.wrapper-small.footer-content.grid.grid--medium
          div
            h4 About
            ul
              li #[a(href="/") Home]
              li #[a(href="/security") Security]
              li #[a(href="/privacy") Privacy]
              li #[a(href="/transparency") Transparency]
          div
            h4 Voter Tools
            ul
              if ! voted
                li #[a(href="/start") Vote]
              //li #[a(href="/pledge") Pledge]
              li #[a(href="/results") Results]
              li #[a(href="/scores") Scores]
              if signedIn
                li #[a(href="/logout") Logout]
          div
            h4 Legal
            ul
              li #[a(href="/terms-of-use") Terms of Use]
              li #[a(href="/privacy-policy") Privacy Policy]
              li <br/>&copy; 2016
    block scripts
      script(type="text/javascript", src="/js/app.js")

    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-8248761-12', 'auto');
      ga('send', 'pageview');
