extends layout.pug

block head
  meta(http-equiv="refresh",content="1;url=/score")

block content
  p.
    You will be redirected within the next 3 seconds.
  script(type="text/javascript").
    window.location.href = "/process"
