extends ../../layouts/flow.pug

block head
  meta(http-equiv="refresh",content="3;url=/score")

block steps
  div
    +steps(1)

block flow-content
  div.ta-center
    h2 Analyzing...
    p Your Facebook profile is being analyzed. When this process is complete, your private information is removed from our server.
