extends ../layouts/default.pug

block content
  div.wrapper-small
    h2 404: File not found
    p.
      That file wasn't found, try some links in the footer or just #[a(href="/") go back to the home page].
