extends ../layouts/default.pug

block head
  meta(http-equiv="refresh",content="0;url=/score")

block content
  p.
    Your profile information is being used to validate your voter eligibility. After this process, your private Facebook data will be removed from our records.
  script(type="text/javascript").
    window.location.href = "/process"
