extends ../layouts/default.pug

block header
  h1 The Alternative Primary
  p.subtitle Vote to determine the best third party candidate to unify behind for the general election.

block content
  p
    a(href="/start").btn Get Started
  p.
    While each third party candidate has different platforms and agendas, they have one crucial thing in common:
    #[strong they provide an alternative].
  p.
    #[a(href="http://www.nytimes.com/interactive/2016/08/01/us/elections/nine-percent-of-america-selected-trump-and-clinton.html", target="_blank") According to this article, just 14 percent of eligible adults voted for Donald Trump or Hillary Clinton.]
    #[span The purpose of this primary is to appeal to the other 86% of voters and to discover the possibility of a third party candidate becoming President of the United States. ]
  p.
    The winner of this primary will be determined by #[a(href="https://en.wikipedia.org/wiki/Instant-runoff_voting",target="_blank") Instant-runoff voting]. This means you will rank the candidates in order of preference. When the votes are tallied, if a single candidate doesn't have more than half the votes, last place is eliminated. The votes are then tallied with the new ranking order and this process continues until a winner is determined.
