extends ../layouts/default.pug

block content
  div.hero.v-align
    div.hero-text.middle
      h1 Why settle for our President?
      p.subtitle Nominate the best third party candidate to vote for in the general election.
      p
        a(href="/start").btn Get Started

  div.wrapper
    div.inner-wrapper
      h3 What is this for?
      p.
        While each third party candidate has different platforms and agendas, they have one crucial thing in common:
        #[strong they provide an alternative option for President].
      h3.ta-center Could it actually work?
      p.
        #[a(href="http://www.nytimes.com/interactive/2016/08/01/us/elections/nine-percent-of-america-selected-trump-and-clinton.html", target="_blank") According to this article, just 14 percent of eligible adults voted for Donald Trump or Hillary Clinton.]
        #[span The purpose of this primary is to appeal to the other 86% of voters and to discover the possibility of a third party candidate winning the general election.]
      p.
        The winner of this primary will be determined by #[a(href="https://en.wikipedia.org/wiki/Instant-runoff_voting",target="_blank") Instant-runoff voting]. This means you will rank the candidates in order of preference. When the votes are tallied, if a single candidate doesn't have more than half the votes, last place is eliminated. The votes are then tallied with the new ranking order and this process continues until a winner is determined.

    h3 Values in Practice
    div.grid
      div
        h4 Security
        p.
          The only private data we store that belongs to you is your Facebook ID.
          #[a(href="/security") Read more...]
      div
        h4 Privacy
        p.
          Your vote is anonymous and cannot be tied back to your Facebook profile.
          #[a(href="/privacy") Read more...]
      div
        h4 Transparency
        p.
          The source code for this site is available and votes will be made public.
          #[a(href="/transparency") Read more...]
