extends ../layouts/default.pug

block content
  div.wrapper-small
    h2 Privacy Policy

    p Welcome to AlternativePrimary.org, a nonpartisan website that encourages participation in the political process. By using this website, you agree to be bound by the following Privacy Policy, which covers the information that the website collects and receives from visitors and registered users of the website, discusses how we use or share it, and describes the choices you have to add to or alter that information.

    h3 Information We Collect

    h4 Log Data

    p When your browser requests data from our web servers, it automatically generates log data. We collect log data from all visitors to the AlternativePrimary.org website, which may include:

    ul
      li Your IP address
      li The location of the link that brought you to our website
      li The browser and operating system you are using to access our website
      li Data we may have previously stored in cookies on your computer
      li Which pages on our website you visit, your mobile carrier, and device and application IDs

    h4 Cookies and Analytics

    p We use different types of cookies (both temporary and persistent) to make it easier for you to help you navigate the site, to track usage of our site to improve your experience, and to remember your preferences. Disabling cookies may limit your ability to use some areas of our site. We also use tools by services such as Google Analytics to learn about how people discover, use, and interact with our website.

    h4 Information You Share

    p When you connect your Facebook account to AlternativePrimary.org, we will request your profile information and other Facebook Graph data about you. This data is only used to prevent spam votes and artificial vote manipulation. If you choose not to connect Facebook, you may not be able to use voting functionality on AlternativePrimary.org.

    p You may also provide us with information about your voting preferences. This information is stored in anonymized form and is not associated with any of your personal information.

    h3 Information We Share

    p We only use your information on the AlternativePrimary.org website to provide the service to you and the other users who visit the site. We only share your information in the following limited circumstances:

    p #[strong With Your Consent:] We may share your information when you give us permission, for example, by adjusting your privacy settings so that information is available to other users.

    p #[strong With Service Providers:] We use selected trusted third parties to provide certain services for us such as cookie support. We only share the minimum amount of information necessary to provide the service. In addition, any third-party service provider we use is required to give your information the same protections that are outlined here in this Privacy Policy.

    p #[strong Deidentified and Aggregated Data:] We may share or disclose information we collect after deidentifying and aggregating it so it cannot be linked back to an individual person. We contractually require third parties to respect this practice.

    p #[strong Legal Process:] We may disclose or preserve for future disclosure your information if we believe, after due consideration, that doing so is reasonably necessary to protect our rights or property or to comply with a law, regulation, or valid legal process.

    h3 Information We Save

    p We may retain log data and analytics data to track and analyze service usage and monitor website performance. If you choose to vote on AlternativePrimary.org, we will retain your voting preferences (in anonymized form) and a record of your Facebook Account ID, which allows us to prevent double-voting. We do not retain any other information from your Facebook profile.

    h3 Other Privacy Information

    h4 California’s ‘Do Not Track’ law

    p When you browse our website, we may use trusted third-party tools to analyze website usage, monitor performance, and prevent fraud. AlternativePrimary.org does not currently respond to browser settings such as Do Not Track.

    h4 Children’s Information

    p AlternativePrimary.org is not directed to individuals under the age of 18 and we do not knowingly collect personal information from children under the age of 13. If we discover that we have collected personal information on a child under the age of 13 via AlternativePrimary.org, we will promptly remove it from our systems.

    h4 Changes to this Privacy Policy

    p If we modify this Privacy Policy, we will notify you of any significant or material changes before the changes become effective by means of a notice on this website. We encourage you to review this page periodically for the latest information about our privacy practices.

    h4 Questions

    p.
      If you have any questions about this privacy policy, feel free to contact us at
      #[a(href="mailto:privacy@alternativeprimary.org") privacy@alternativeprimary.org]. 
