extends ../layouts/default.pug

block content
  div.wrapper-small
    h2 Privacy
    p.
      We respect your privacy by only requesting what we need to have confidence in your
      Facebook profile.
    p.
      Your vote is completely anonymous and is not tied to your Facebook ID.
      When you connect Facebook, we create a profile on AlternativePrimary.org with your Facebook ID and your confidence scores.
      We also mark that you have not voted yet.
    p.
      When you submit your vote, we store it separately from your profile and only mark on your profile that you have voted.
      Your confidence scores in the vote record are also rounded, so that there is no correlation between your user profile and your vote.
