extends ../layouts/default.pug

block content
  div.wrapper-small
    h2 Security
    p.
      While AlternativePrimary.org requests information from your Facebook account,
      it is handled as secure as possible.
    p.
      After receiving your profile information from Facebook, it is stored temporarily in the session.
      It is then analyzed to calculate the confidence scores and it immediately deleted after the analysis is complete.
    p.
      The only information saved to our database from your Facebook profile is your Facebook ID.
      This is used to keep confidence scores associated with you and to know if you've voted already, since you can only vote once.
