extends ../layouts/default.pug

block content
  div.wrapper-small
    h2 Terms of Use

    p Welcome to AlternativePrimary.org, a nonpartisan website that encourages participation in the political process. By using this website, you agree to be bound by the following terms and conditions.

    p IF YOU DO NOT AGREE TO THESE TERMS, YOU MAY NOT USE ALTERNATIVEPRIMARY.ORG.

    h3 1. General Terms

    p You must be at least 18 years old to use this website, and you must abide by these terms as well as any applicable national, state, or local laws in connection with your usage of this website. AlternativePrimary.org reserves the right to deny your access or use of this website, for any reason, in its sole discretion.

    p In addition you agree that you will not:

    ul
      li use this website to send unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes, or any other form of duplicative or unsolicited messages, whether commercial or otherwise;
      li harvest or collect information about the users of the website or use such information for the purpose of transmitting or facilitating the transmission of unsolicited bulk electronic mail or communications;
      li use this website to post or transmit unlawful, harassing, libelous, abusive, tortious, defamatory, threatening, harmful, invasive of another’s privacy, vulgar, obscene or otherwise objectionable material of any kind or nature, or material which is harmful to minors in any way;
      li use the website to post or transmit any material that may infringe or violate the intellectual property rights or other rights of third parties;
      li use the website to post or transmit any material that contains software viruses or other harmful or deleterious computer code, files or programs;
      li interfere with or disrupt servers or networks connected with the website, or violate the policies and procedures of such networks;
      li attempt to gain unauthorized access to the website or other accounts, computer systems or networks connected thereto, through password mining or other means;
      li harass or interfere with another user’s use and enjoyment of the Services;
      li use manual or automated software, devices, scripts robots, other means or processes to access, “scrape,” “crawl” or “spider” any web pages or other services contained in the site, unless explicitly permitted by AlternativePrimary.org;
      li engage in “framing,” “mirroring,” or otherwise simulating the appearance or function of AlternativePrimary.org’s website;
      li attempt to or actually override any security component of AlternativePrimary.org; or
      li interfere with or disrupt the website or servers or networks connected to the website, or disobey any requirements, procedures, policies, or regulations of networks connected to the website;

    h3 2. License and Content

    p By submitting content to AlternativePrimary.org (“Your Content”), you grant this website a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to reproduce, prepare derivative works, distribute copies, perform, or publicly display your user content for the purpose of providing the functionality of this website.

    p AlternativePrimary.org may allow users, including you, to post certain user generated content (“UGC”) to the service. We shall have the right, but not the obligation, to monitor or review any UGC at any time for any readily apparent violation of these Terms. In compliance with Section 512(c) of the Digital Millenium Copyright Act (“DMCA”), AlternativePrimary.org reserves the right to conduct a limited review of UGC for the sole purpose of identifying and rejecting UGC which violates these Terms.

    p You agree that you will not submit UGC which:

    ul
      li Impersonates another person or entity or misrepresents your affiliation with a person or entity;
      li Contains the private information of any third party, including but not limited to addresses, phone numbers, email addresses, social security numbers;
      li Is commercial in nature;
      li Infringes on a third party’s intellectual property rights;
      li Is threatening, incites violence, or promotes illegal activity;
      li Contains depictions of drug use, child pornography, or other illegal activities; or
      li Contains hate speech, nudity, or graphic or gratuitous violence.

    p AlternativePrimary.org displays UGC and other publicly available information from various sources (“public information”) and makes it available to you. While we do our best to ensure this information comes from reliable sources, we cannot guarantee the accuracy of any of the information available on the service.

    p You understand that we do not evaluate each piece of information provided and you agree that there are no warranties or guarantees regarding the accuracy, legitimacy, or legality of any public information, or how recently the public information was updated. You agree that this public information is for informational purposes only and that you rely on the public information available through the service at your own risk.

    p Because information often changes quickly, you agree that there may be gaps in the public information, and AlternativePrimary.org makes no representation, either express or implied, that the public information on this site is complete or accurate or completely up to date. AlternativePrimary.org shall not be held responsible for any errors or omissions on this web site or produced by secondary dissemination of this information.

    p AlternativePrimary.org and/or its licensors own all right, title and interest, including intellectual property rights in and to the website. Any suggestions, ideas, enhancement requests, feedback, recommendations or other information you provide to AlternativePrimary.org relating to the website will be automatically assigned to and owned exclusively by AlternativePrimary.org.

    h3 3. Disclaimer of Warranty

    p ALTERNATIVEPRIMARY.ORG IS FOR EDUCATIONAL PURPOSES ONLY, AND, AS SUCH, PROVIDES THE SERVICES ‘AS IS’, WITH NO EXPRESS, STATUTORY OR IMPLIED WARRANTIES OR GUARANTEES OF ANY KIND. ALTERNATIVEPRIMARY.ORG SPECIFICALLY DISCLAIMS THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF THIRD PARTY RIGHTS RELATED TO THE SERVICES OR THESE TERMS. ALTERNATIVEPRIMARY.ORG DOES NOT WARRANT THAT THE SERVICES SHALL BE UNINTERRUPTED OR ERROR FREE, AND MAKES NO WARRANTIES REGARDING THE COMPLETENESS, ACCURACY OR AVAILABILITY THEREOF. NEITHER ALTERNATIVEPRIMARY.ORG NOR ITS PARTNERS OR AFFILIATES MAKE ANY REPRESENTATION OR WARRANTY REGARDING THE COMPLETENESS OR ACCURACY OF ANY MATERIALS OR OTHER INFORMATION PROVIDED IN CONNECTION WITH THE SERVICES, AND YOU AGREE THAT YOU WILL NOT RELY ON SUCH MATERIAL OR INFORMATION FOR ANY PURPOSE. This disclaimer of warranties constitutes an essential part of these Terms.

    h3 4. Limitation of Liability

    p NEITHER ALTERNATIVEPRIMARY.ORG NOR ITS PARTNERS, AFFILIATES OR LICENSORS SHALL BE LIABLE UNDER ANY THEORY FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, PUNITIVE OR EXEMPLARY DAMAGES, OR FOR ANY CLAIM BY ANY THIRD PARTY, REGARDLESS OF THE THEORY ON WHICH ANY SUCH DAMAGES MAY BE BASED, EVEN IF ALTERNATIVEPRIMARY.ORG OR ITS PARTNERS, AFFILIATES OR LICENSORS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE §1542, WHICH SAYS: A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR. IF UNDER APPLICABLE LAW THE FOREGOING LIMITATION OF LIABILITY IS NOT ENFORCEABLE, THEN THEY SHALL BE DEEMED REFORMULATED TO LIMIT ALTERNATIVEPRIMARY.ORG’S LIABILITY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW. This limitation of liability constitutes an essential part of these Terms.

    h3 5. Indemnification

    p You hereby agree to indemnify and hold harmless AlternativePrimary.org and its partners, affiliates and licensors and any party whom AlternativePrimary.org may be required to indemnify against any claim, damage, loss, liability or expense, including attorneys' fees, arising from or relating to your use of the website in any way contrary to these Terms.

    h3 6. Other Terms

    p These Terms will be governed by the laws of the State of California without regard to or application of its conflict of law provisions or your state or country of residence. Both parties irrevocably agree to submit to the personal jurisdiction of, and to bring any claim, action, or proceeding in, the federal court in the Northern District of California or in state court in Santa Clara County, California. AlternativePrimary.org reserves the right, at any time and in our sole discretion, to amend, modify, suspend, or terminate the website, the Content, and any part thereof without notice to you. AlternativePrimary.org shall have no liability to you or any other person or entity for any modification, suspension, termination, or loss of information.  From time to time, and in our sole discretion, we may revise these Terms. If the revision, in our sole discretion, is material we will notify you before the changes become effective. By continuing to access or use the website after those revisions become effective, you agree to be bound by the revised Terms.

    p If any provision of these Terms is held to be illegal, invalid or unenforceable, the legality, validity and enforceability of the remaining provisions of these Terms shall not be affected or impaired thereby. No waiver by either party of the breach of these Terms will be valid or binding unless made in writing and signed by the party prejudiced thereby. These Terms constitute the entire agreement with respect to the subject matter hereof and supersede all prior or contemporaneous oral or written agreements concerning such subject matter. You may not assign or transfer these Terms, your rights hereunder without AlternativePrimary.org’s prior written consent.

    p These Terms will remain in full force and effect while you use the website. You may terminate your use of the website at any time. We can suspend or terminate your access to or use of the website, in whole or in part, at any time, immediately and without notice. In all such cases, the Terms shall terminate, including, without limitation, your license to use the website, except that the following sections shall continue to apply: 3, 4, 5, and 6.
