extends ../layouts/flow.pug

mixin fields(selects)
  each s in selects
    +select(s)

mixin select(s)
  label.select
    select(name="choices[]")
      option(value='abstain') Abstain
      each o, i in s.options
        if i === 3
          option(disabled="true") -- On Less Than 20 State Ballots --
        +option(o)
    span.select__label= s.label

mixin option(o)
  option(value=o.value,selected=o.selected,disabled=o.disabled)= o.value

block flow-content
  if error
    p.error= error
  form(method="post",action="/vote")
    +fields(form.selects)
    label.checkbox
      input(type="checkbox",name="abstained",checked=form.abstained)
      span.checkbox__label I acknowledge that I am abstaining from any choices marked "Abstain"
    div
      input(type="submit")
