@keyframes opacity {
  0% {
    opacity: .7; }
  50% {
    opacity: .75;}
  100% {
    opacity: .7; }
}

@keyframes background-color {
  0% {
    background-color: $red; }
  33% {
    background-color: $white;}
  66% {
    background-color: $blue;}
  100% {
    background-color: $red; }
}
