header{
  position: relative;
  text-shadow: 1px 1px 1px $gray1;

  &:after{
    @include stripes()
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

header h1{
  background-color: $blue-dark;
  color: $white;
  display: inline-block;
  font-size: 2.4rem;
  padding: 0 .5rem;
  position: relative;
  z-index: 1;

  .star,
  &:before,
  &:after{
    display: inline-block;
    font-size: 1.6rem;
    position: relative;
    top: -.3rem;
  }

  &:before,
  &:after{
    content: '\2605';
    padding: 0 1rem;
  }
}

footer{
  background-color: $blue-dark;
  height: 200px;
  position: relative;
  overflow: hidden;

  &:after{
    background:
    linear-gradient(324deg, $blue-dark 4%,   transparent 4%) -70px 43px,
    linear-gradient( 36deg, $blue-dark 4%,   transparent 4%) 30px 43px,
    linear-gradient( 72deg, $white-dark 8.5%, transparent 8.5%) 30px 43px,
    linear-gradient(288deg, $white-dark 8.5%, transparent 8.5%) -70px 43px,
    linear-gradient(216deg, $white-dark 7.5%, transparent 7.5%) -70px 23px,
    linear-gradient(144deg, $white-dark 7.5%, transparent 7.5%) 30px 23px,

    linear-gradient(324deg, $blue-dark 4%,   transparent 4%) -20px 93px,
    linear-gradient( 36deg, $blue-dark 4%,   transparent 4%) 80px 93px,
    linear-gradient( 72deg, $white-dark 8.5%, transparent 8.5%) 80px 93px,
    linear-gradient(288deg, $white-dark 8.5%, transparent 8.5%) -20px 93px,
    linear-gradient(216deg, $white-dark 7.5%, transparent 7.5%) -20px 73px,
    linear-gradient(144deg, $white-dark 7.5%, transparent 7.5%) 80px 73px;
    background-size: 100px 100px;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.footer-content{
  background-color: rgba(0, 0, 0, .75);
  box-sizing: border-box;
  color: $white;
  padding-top: 1rem;
  padding-bottom: 100rem;
  margin-bottom: -100rem;
  position: relative;
  z-index: 2;
}

.v-align{
  display: table;
  width: 100%;
}

.v-align .middle{
  display: table-cell;
  vertical-align: middle;
}

.hero{
  @include hero-image("../img/", "hero");
  animation: background-color 20000ms linear infinite;
  background-color: $red;
  -moz-background-blend-mode: hard-light;
  -webkit-background-blend-mode: hard-light;
  background-blend-mode: hard-light;
  box-sizing: border-box;
  color: $white;
  padding: 10px;
  min-height: 300px;
  text-align: center;
  text-shadow: 1px 1px 1px $gray1;

  @media screen and (min-width: 800px){
    min-height: 400px;
  }

  &:after{
    animation: opacity 2000ms linear infinite;
    -moz-mix-blend-mode: darken;
    -webkit-mix-blend-mode: darken;
    mix-blend-mode: darken;
    background-color: $gray1;
    bottom: 0;
    content: '';
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.hero-text{
  box-sizing: border-box;
  display: inline-block;
  font-size: $font-size;
  margin: auto;
  position: relative;
  vertical-align: middle;
  z-index: 2;
}

.subtitle{
  font-size: $font-size--large;
}

.red{
  color: $red;
}

.blue{
  color: $blue;
}
