$red: #E0162B;
$blue: #0052A5;

$primary: $blue;

$base-font:       'Avenir', 'Avenir Next','Helvetica Neue','Segoe UI', 'Verdana', sans-serif;
$monospace-font:  'Consolas', 'Monaco', 'Courier New', monospace;
